* {
  margin: 0;
  padding: 0;
}
.hero-container {
  display: flex;
  min-width: 100%;
  min-height: 100svh;
  background: url('../../assets/2149279138.jpg');
  background-position: center;
  background-size: cover;
}
.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  min-width: 50%;
  min-height: 100svh;
}
.hero-right h1 {
  font-family: 'Fira Code';
  font-size: 2.5rem;
}
.hero-right p {
  font-family: 'Open Sans';
  font-size: 1.1rem;
  margin-top: 1rem;
}
.hero-left {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 100svh;
}
.hero-span {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero-span img {
  width: 600px;
}
.hero-span h4 {
  font-family: 'Fira Code';
  font-size: 1.2rem;
}
hr {
  border: 1px solid white;
  width: 400px;
  margin: 20px 0;
}
