.navbar-container {
  display: flex;
  text-align: center;
  position: fixed;
  top: 3rem;
  flex-direction: row;
  justify-content: center;
  left: 0;
  right: 0;
  z-index: 10;
}

/* Desktop Navigation */
.desktopVersion {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  list-style-type: none;
  font-family: 'Fira Code';
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  border: 1px solid white;
  padding: 15px;
  border-radius: 500px;
  background-color: rgba(240, 248, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}

.desktopVersion li {
  transition: ease-in-out 0.3s;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.desktopVersion li:hover,
a:hover {
  transform: scale(1.1);
  color: rgb(225, 255, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

/* Mobile Navigation */
.mobileVersion {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 11;
}

.mobileVersion img {
  cursor: pointer;
  width: 24px;
  height: auto;
}

.menuList {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgba(240, 248, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: fixed;
  top: 4rem;
  right: 1rem;
  z-index: 10;
}

.menuList.show {
  display: flex;
}

.menuList li {
  margin: 10px 0;
  font-family: 'Fira Code';
  font-size: 1.2rem;
}

.menuList li a {
  color: aliceblue;
}

.menuList li a:hover {
  color: rgb(225, 255, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

/* Responsive Design */
@media screen and (max-width: 1466px) {
  .desktopVersion {
    display: none;
  }

  .mobileVersion {
    display: flex;
    align-items: center;
    position: fixed;
    top: 5% !important;
  }
}

@media screen and (max-width: 768px) {
  .menuList {
    display: none;
    position: fixed;

  }
}